.Reminder {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 40px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(231, 211, 219);
  width: 50%;
  justify-self: center;
  padding: 0.1rem;
  margin: auto;
  margin-top: 10px;
}
.person {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 40px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(223, 69, 133);
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  border-radius: 0.5rem;
  color: azure;
  list-style-type: "🎁 ";
}

.right {
  float: right;
}

.heading1 {
  text-align: center;
  font-size: 2.5vw;
}
@media (max-width: 600px) {
  .heading1 {
    text-align: center;
    font-size: 6vw;
  }
}
