.Heading {
  margin-top: 1rem;
  background-color: #cca5ec;
  border-radius: 5rem;
  text-align: center;
  height: max-content;
  font-size: 20px;
  color: white;
}
#card {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 40px 0 rgba(0, 0, 0, 0.19);
  width: 40vh;
  position: sticky;
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background-image: linear-gradient(rgb(214, 220, 236), #a0f4ff);
  margin: 2vh;
}
#card input {
  outline: none;
  padding: 1rem;
  border-radius: 0.2rem;
  width: 10rem;
}
#card button {
  float: right;
}
#right {
  float: right;
}
#button {
  width: 10vh;
  background-color: rgb(209, 131, 131);
}
#button:hover {
  background-color: rgb(206, 65, 65);
  float: right;
}
button {
  margin: 10px;
  display: inline-block;
}
.input-group {
  display: inline;
}
#monthinp {
  width: 15vw;
  height: 4vh;
  border: none;
  margin: 0.1rem;
}
#update {
  float: left;
  width: 10vh;
  background-color: rgb(128, 153, 223);
}
#update:hover {
  background-color: rgb(22, 71, 206);
}
#lists {
  padding: auto;
}
.card select {
  width: 15vw;
  height: 4vh;
}

@media (max-width: 600px) {
}

.emptyList {
  width: 100%;
  height: 40vh;
  font-size: 5vh;
  margin-top: 1rem;
  border-radius: 1rem;
  color: whitesmoke;
  text-align: center;
  background-color: yellowgreen;
}
.emptyList p {
  padding: 10%;
}

.emptyList a :hover {
  text-decoration: none;
}
.card-group {
  align-content: center;
}
