.Form {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 40px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: max-content;
  background-color: lavenderblush;
  text-align-last: center;
  padding: 1.5rem 2rem;
  box-shadow: lightpink;
  border-width: 50px;
  border-color: solid black;
}
.Form input {
  box-sizing: border-box;
  float: right;
  width: 200px;
  background-color: rgb(224, 215, 235);
  border-color: currentColor;
  border-radius: 5px;
}
.Form select {
  box-sizing: border-box;
  float: right;
  width: 200px;
  background-color: rgb(224, 215, 235);
  border-color: currentColor;
  border-radius: 5px;
}
.Form label {
  float: left;
}

.Form button {
  border-radius: 5px;
  background-color: rgb(183, 233, 216);
  font-size: 20px;
  cursor: pointer;
}

.Form select {
  box-sizing: border-box;
  float: right;
  width: 200px;
  background-color: rgb(224, 215, 235);
  border-color: currentColor;
  border-radius: 5px;
}
